body{
    background-color: #f5f4f7;
  }
  
  
  #Logo{
  width:150px;
  height:156px;
  padding-left:-20px;
  }
  
  
  .logo{
      font-weight: 900;
      font-size:45px;
      padding-left:-50px;
  }
  
  .overlay{
    position: relative;
    background-color: transparent;
    margin-top:-150%;
    left:25%;
  }
  
  .btn1, .btn2, .btn3{
      background-color:transparent;
      border: 5px solid black;
      border-radius:15px;
      text-decoration: none;
      color:black;
      text-align: center;
      font-weight: 500;
      width:250px;
      height:50px;
      line-height:35px;
      cursor:pointer;
  }


  .btn1{
    position:relative;
    top:23%;
    left:-2%;
    right:20%;
  }

  .btn2{
    position:relative;
    top:-75%;
    left:50%;
  }

  .btn3{
    position:relative;
    left:15%;
    bottom:60%;
  }
  
  .btn1:hover{
      background-color:#2525ad;
      color:white;
  }

  .btn2:hover{
    background-color: #2525ad;
    color:white;
}

.btn3:hover{
    background-color: #2525ad;
    color:white;
}

  p{
    position:relative;
    top:20px;
    left:50px;
  }