*{
    background-color: #f5f4f7;
  }
  
  
  #Logo{
  width:150 px;
  height:156 px;
  margin-left:-20px;
  }
  
  #back{
      width: 546 px;
      height:559 px;
      margin-right:-100px;
  }
  
  .logo{
      font-weight: 900;
      font-size:45px;
      margin-left:-50px;
  }
  
  .overlay{
      position: relative;
      background-color: transparent;
      margin-top:-160%;
      left:25%;
  }
  
  .btn1, .btn2, .btn3{
      background-color:transparent;
      border: 5px solid black;
      border-radius:15px;
      color:black;
      text-justify: auto;
      text-align: center;
      font-weight: 500;
      width:470px;
      height:50px;
  }
  
  .btn1:hover{
      background-color:#2525ad;
      color:white;
  }

  .btn2:hover{
    background-color: #9b9bf3;
    color:white;
}

.btn3:hover{
    background-color: #9b9bf3;
    color:white;
}
  
  #pass{
      margin-top:20px;
      margin-left:300px;
  }