body{
    background-color: #f5f4f7;
  }
  
  .pass-form p{
  top:10px;
  font-weight: 500;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  left:-5px;
  }
  
  .pass-form{
    position:relative;
    top:25%;
    left:10%;
    width:500px;
  }
  
  #Logo{
  width:150px;
  height:156px;
  }
  
  
  .logo{
      font-weight: 900;
      font-size:45px;
  }
  
  .overlay{
      position: relative;
      background-color: transparent;
      margin-top:-150%;
      left:25%;
  }
  
  .btn{
      background-color: #2525ad;
      color:white;
      text-align: center;
      font-weight: 500;
      width:470px;
  }
  
  .btn:hover{
      background-color: #9b9bf3;
      color:white;
  }