.profile {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

#profileimg{
    width: 204;
height: 209;
top: 23px;
left: 1168px;
border-radius: 100px;
}

.username{
    width: 179;
height: 58;
top: 253px;
left: 1178px;
font-family: Istok Web;
font-weight: 400;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
}

.mobile{
    width: 265;
height: 58;
top: 446px;
left: 1141px;
font-family: Istok Web;
font-weight: 400;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
}

.about{
    width: 108;
height: 58;
top: 633px;
left: 1213px;
font-family: Istok Web;
font-weight: 400;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;

}